/* You can add global styles to this file, and also import other style files */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(207, 100, 127, 0.637);
    color: white;
    text-align: center;
  }